{% extends 'base.html.twig' %}

{% block title %}Dierenrijk{% endblock %}


{% block body %}
    <h1 class ="text-center mt-5"> Het geheime dierenrijk</h1>
    <p class ="text-center">wij zijn Pleun, Sanne en Harun.
    <br> dit is onze website waar wij ons geheime dierenrijk laten zien </p>
{% endblock %}